<div id="header-content" class="header-content">
  <div class="site-header">

    <a href="/" id="logo"><h1 class="logo-headline">Feminist Comic Network</h1></a>

    <!-- # TODO : don't use the .. path because it won't work for posts -->
    <a id="menu-button" href="#">MENU<img class="menu-burger" src="/assets/images/burger.png"></a>

    <ul id="site-nav">
    {% for node in site.pages %}
      {% if node.title %}
      <a href="{{ node.url | prepend: site.baseurl }}">
        <li class="page-link{% if node.url == page.url %} current{% endif %}">
          <span>{{ node.title }}</span>
        </li>
      </a>
      {% endif %}
    {% endfor %}
    </ul>

  </div>
</div>
